{% extends 'index/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <!------ Include the above in your HEAD tag ---------->

    <div class="container text-center">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <div class="card mt-3 tab-card">
                    {% if default_degerler %}
                        <div class="card-header tab-card-header ">
                            <ul class="nav nav-tabs card-header-tabs " id="myTab" role="tablist">
                                {% if default_degerler.kk == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#kk" role="tab"
                                           aria-controls="One" aria-selected="true">Kur'an-ı Kerim</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.yasin == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#YasinSuresi"
                                           role="tab"
                                           aria-controls="One" aria-selected="true">Yasin</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.mulk == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#MulkSuresi" role="tab"
                                           aria-controls="One" aria-selected="true">Mülk</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.nebe == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#NebeSuresi" role="tab"
                                           aria-controls="One" aria-selected="true">Nebe</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.igra == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#igra" role="tab"
                                           aria-controls="One" aria-selected="true">İgra</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.beyyine == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#beyyine" role="tab"
                                           aria-controls="One" aria-selected="true">Beyyine</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.duha_alti == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#duha_alti" role="tab"
                                           aria-controls="One" aria-selected="true">Duha Altı</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.fil_alti == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#fil_alti" role="tab"
                                           aria-controls="One" aria-selected="true">Fil Altı</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.tecvid == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#tecvid" role="tab"
                                           aria-controls="One" aria-selected="true">Tecvid</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.siyer == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#siyer" role="tab"
                                           aria-controls="One" aria-selected="true">Siyer</a>
                                    </li>
                                {% endif %}
                                {% if default_degerler.p_arapca == 'var' %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#p_arapca" role="tab"
                                           aria-controls="One" aria-selected="true">Pratik Arapça</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                    {% endif %}
                    <div class="tab-content" id="myTabContent">
                        {% if default_degerler.kk == 'var' %}
                            <div class="tab-pane fade {% if kk_random %}show active{% endif %} p-3" id="kk"
                                 role="tabpanel"
                                 aria-labelledby="one-tab">
                                <p class="card-text">
                                <div class="container mt-5">
                                    {% if kk_random %}
                                        <head>
                                            <link href='https://fonts.googleapis.com/css?family=Raleway:600'
                                                  rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1>{{ kk_random }}</h1>
                                            </div>
                                        </div>
                                        </body>
                                    {% endif %}
                                    <form action="{% url 'randomsoru' 11 %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="input-group mb-3 col-6">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Baş.</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="{{ kk_b }}"
                                                       name="kk_b" value="{{ kk_b }}"
                                                       aria-label="" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group mb-3 col-6">
                                                <input type="text" class="form-control" placeholder="{{ kk_s }}"
                                                       name="kk_s" value="{{ kk_s }}"
                                                       aria-label="Username" aria-describedby="basic-addon1">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon1">Bit.</span>
                                                </div>
                                            </div>

                                        </div>
                                        {% if kk_random %}
                                            <button
                                                    class="btn btn btn-outline-info btn-lg btn-block" type="submit">
                                                Yenile
                                            </button>
                                        {% else %}
                                            <button
                                                    class="btn btn btn-outline-info btn-lg btn-block" type="submit">
                                                Başla
                                            </button>
                                        {% endif %}

                                    </form>
                                </div>
                                </p>


                                {% comment %}
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Başlangıç</span>
                                    </div>
                                    <input type="text" class="form-control mr-1" id="giris1" placeholder=""
                                           aria-label="Username"
                                           aria-describedby="basic-addon1">
                                    <input type="text" class="form-control ml-1" id="giris2"
                                           aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Bitiş</span>
                                    </div>
                                    <a href="{% url 'randomsoru' 1 %}" class="btn btn-primary">Go somewhere</a>
                                </div>
                                {% endcomment %}
                            </div>
                        {% endif %}
                        {% if default_degerler.yasin == 'var' %}
                            <div class="tab-pane fade {% if YasinSuresi_random %}show active{% endif %} p-3"
                                 id="YasinSuresi"
                                 role="tabpanel"
                                 aria-labelledby="one-tab">
                                <p class="card-text">
                                <div class="container mt-5">
                                    {% if YasinSuresi_random %}
                                        <head>
                                            <link href='https://fonts.googleapis.com/css?family=Raleway:600'
                                                  rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1>{{ YasinSuresi_random }}</h1>
                                            </div>
                                        </div>
                                        </body>
                                    {% endif %}
                                </div>
                                </p>
                                {% if YasinSuresi_random %}
                                    <a href="{% url 'randomsoru' 1 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Yenile</a>
                                {% else %}
                                    <a href="{% url 'randomsoru' 1 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Başla</a>
                                {% endif %}                                 </div>
                        {% endif %}
                        {% if default_degerler.mulk == 'var' %}
                            <div class="tab-pane fade {% if MulkSuresi_random %}show active{% endif %} p-3"
                                 id="MulkSuresi" role="tabpanel" aria-labelledby="one-tab">
                                <p class="card-text">
                                <div class="container mt-5">
                                    {% if MulkSuresi_random %}
                                        <head>
                                            <link href='https://fonts.googleapis.com/css?family=Raleway:600'
                                                  rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1>{{ MulkSuresi_random }}</h1>
                                            </div>
                                        </div>
                                        </body>
                                    {% endif %}
                                </div>
                                </p>
                                {% if MulkSuresi_random %}
                                    <a href="{% url 'randomsoru' 2 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Yenile</a>
                                {% else %}
                                    <a href="{% url 'randomsoru' 2 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Başla</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if default_degerler.nebe == 'var' %}
                            <div class="tab-pane fade {% if NebeSuresi_random %}show active{% endif %} p-3"
                                 id="NebeSuresi" role="tabpanel" aria-labelledby="two-tab">
                                <p class="card-text">
                                <div class="container mt-5">
                                    {% if NebeSuresi_random %}
                                        <head>
                                            <link href='https://fonts.googleapis.com/css?family=Raleway:600'
                                                  rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1>{{ NebeSuresi_random }}</h1>
                                            </div>
                                        </div>
                                        </body>
                                    {% endif %}
                                </div>
                                </p>
                                {% if NebeSuresi_random %}
                                    <a href="{% url 'randomsoru' 3 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Yenile</a>
                                {% else %}
                                    <a href="{% url 'randomsoru' 3 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Başla</a>
                                {% endif %}                            </div>
                        {% endif %}
                        {% if default_degerler.igra %}
                            <div class="tab-pane fade p-3" id="igra" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Tab Card Three</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        {% endif %}
                        {% if default_degerler.beyyine %}
                            <div class="tab-pane fade p-3" id="beyyine" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Tab Card Three</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        {% endif %}
                        {% if default_degerler.duha_alti %}
                            <div class="tab-pane fade p-3" id="duha_alti" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Tab Card Three</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        {% endif %}
                        {% if default_degerler.fil_alti %}
                            <div class="tab-pane fade p-3" id="fil_alti" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Tab Card Three</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        {% endif %}
                        {% if default_degerler.tecvid %}
                            <div class="tab-pane fade p-3" id="tecvid" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Tab Card Three</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        {% endif %}
                        {% if default_degerler.siyer %}
                            <div class="tab-pane fade p-3 {% if siyer_random %}show active {% endif %}" id="siyer"
                                 role="tabpanel" aria-labelledby="three-tab">
                                <p class="card-text">
                                <div class="container mt-5">
                                    {% if siyer_random %}
                                        <head>
                                            <link href='https://fonts.googleapis.com/css?family=Raleway:600'
                                                  rel='stylesheet' type='text/css'>
                                        </head>
                                        <body>
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1>{{ siyer_random.soru }}</h1>
                                            </div>
                                        </div>

                                        </body>
                                    {% endif %}
                                </div>
                                </p>
                                {% if siyer_random %}
                                    <a href="{% url 'randomsoru' 9 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Yenile</a>
                                {% else %}
                                    <a href="{% url 'randomsoru' 9 %}"
                                       class="btn btn btn-outline-info btn-lg btn-block ">Başla</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if default_degerler.p_arapca %}
                            <div class="tab-pane fade p-3" id="p_arapca" role="tabpanel" aria-labelledby="three-tab">
                                <h5 class="card-title">Tab Card Three</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        /***
    Bootstrap4 Card with Tabs by @mdeuerlein
    ***/

        body {
            background-color: #f7f8f9;
        }

        .card {
            background-color: #ffffff;
            border: 1px solid rgba(0, 34, 51, 0.1);
            box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
            border-radius: 0.15rem;
        }

        /* Tabs Card */

        .tab-card {
            border: 1px solid #eee;
        }

        .tab-card-header {
            background: none;
        }

        /* Default mode */
        .tab-card-header > .nav-tabs {
            border: none;
            margin: 0px;
        }

        .tab-card-header > .nav-tabs > li {
            margin-right: 2px;
        }

        .tab-card-header > .nav-tabs > li > a {
            border: 0;
            border-bottom: 2px solid transparent;
            margin-right: 0;
            color: #737373;
            padding: 2px 15px;
        }

        .tab-card-header > .nav-tabs > li > a.show {
            border-bottom: 2px solid #007bff;
            color: #007bff;
        }

        .tab-card-header > .nav-tabs > li > a:hover {
            color: #007bff;
        }

        .tab-card-header > .tab-content {
            padding-bottom: 0;
        }
    </style>
    <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
            <h1 class="display-4">
                <center>RASTTGELE</center>
            </h1>
            <p class="lead">
            <center>Kategorini seç, sorun hazır!</center>
            </p>
            <div class="text-center"><!-- Button trigger modal -->
                {% if not user.is_authenticated %}
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#exampleModal">
                        Müfredat Oluştur
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Müfredat</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Giriş yaparsanız kayıtlı müfredatınız kaybolmayacak.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal
                                    </button>
                                    <a href="{% url 'login' %}">
                                        <button type="button" class="btn btn-primary">Giriş yap</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'mufredat' %}">
                        <button type="button" class="btn btn-outline-success">Müfredat Oluştur</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}