{% extends 'index/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-lg-12 mt-5">
                <form class="form-contact" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form | crispy }}
                        <hr>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-outline-success">Kaydet</button>
                        </div>
                    </form>
            </div>
        </div>

    </div>
{% endblock %}