{% extends 'index/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-lg-12 mt-5">
                {% comment %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Kullanıcı adı</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Kullanıcı adınızı giriniz">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email adresi</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Email giriniz">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Şifre</label>
                        <input name="sifre" type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Şifre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Yeniden Şifre</label>
                        <input name="resifre" type="password" class="form-control" id="exampleInputPassword2"
                               placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Kayıt ol</button>
                </form>
                {% endcomment %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-outline-primary">Kayıt ol</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}